.footer-box {
  font-size: 19px;
  background-color: #3C3B41;
  color: white;
  margin-top: 100px;
  display: flex;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.footer-box div {
  margin-right: 150px;
  margin-left: 100px;
}

.footer-box li {
  list-style: none;
  padding-bottom: 13px
}

h5 {
  text-transform: uppercase;
  color: #4DAABC;

}



@media screen and (max-width: 960px){
  .footer-box{
    width: 100%;
    display: inline-block;
    overflow: hidden;
  }
}

