

.job-page {
  margin: 20px  50px;
  text-align: justify
}

 .job-details li::before {
  content: "\2022";
  color: #4DAABC;
  margin-right: 10px
}

.job-details li {
  list-style: none;

}

.social-media i {
  border: solid 1px;
  border-radius: 50px;
  background-color: gray;
  padding: 15px;
  margin: 5px;
  color: white;
  height: 15px;
  width: 15px;
  text-align: center;
  cursor: pointer;
  
}

button .apply {
  margin-left: 80px
}
.social-media i:hover {
  color: rgb(90, 184, 202)
}

.FAQ {
  border: dashed #4DAABC 1px;
  margin-top: 20px ;
  text-align: center;
  padding-bottom: 15px

}

@media screen and (max-width:960px) {

  .job-page {
    text-align: initial;
    margin-left: 15px;
    margin-right: 15px;
  }
}