.navbar ul{
  background-color: #3C3B41;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 55px;
  position: fixed;
  width: 100%;
  
}

.navbar li{
  float: right;  
  margin: 15px 60px 15px 0px;
  color: white;
  list-style: none;
  font-weight: 600
}

.navbar li:hover{
  color: #4DAABC;
}

.navbar .logo{
  color: #4DAABC;
  text-transform: uppercase;
  margin-left: 45px;
  margin-top: 10px;
  font-weight: bold;
  position: fixed;
  text-decoration: none;
  font-size: 25px
  }




@media screen and (max-width: 960px){
  #burger-nav{
    display: block;
    height: 45px;
    width: 100%;
    background-color: whitesmoke;
    cursor: pointer;
    background: url('/images/burger.png') no-repeat 8% center;
    
  }
  
  

  .navbar ul.open{
    height: 100vh;
    background-color: #3B3B41;
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    transition:  .30s ease-in-out;
    overscroll-behavior: contain;
    position: absolute;
    float: right;
    /* transition: linear 200ms ease-in;  */


  }

   



  .navbar ul.close{
    overflow: hidden;
    height:0
    }

  
  .navbar li {
    width: 100%;
    margin-top: 36px;
    display: block;
    text-align: center;
    color: white;
    transition: 0.3s;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;

  } 
  
  .navbar .logo{
     height: 0px;
     text-align: center;
     margin-left: 4px;
     /* margin-top:-30px; */
     overflow: hidden;

    }

  
}

