

body {
  font-family: 'Lato';
  background-color: #F5F5F5
}

button {
  border: solid 1px;
  height: 40px ;
  background-color: lightblue;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px; 
  
}


.button-cta {
  margin: 15px 0px 0px 50px;
  background-color: #4DAABC;
  box-shadow: 3px 5px #3B3B41;
  padding: 0 20px;
  height: 45px;
  border: 1px solid;
  text-align: center;
  font-size: 16px;
  line-height: 45px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
  color: white
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}